Repository hmcts/ecm-consumer, pull requests merged in 2021-08, with the labels that each got.

#353 Update checkstyle.xml
  config/checkstyle/checkstyle.xml
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-353

#357 CVE fixed in ecm-consumer
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-357

#359 Update helm version
  charts/ethos-ecm-consumer/Chart.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-359

#360 Update ecm-consumer version to 0.2.8
  charts/ethos-ecm-consumer/Chart.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-360

#361 Revert chart version
  charts/ethos-ecm-consumer/Chart.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-361

#362 Update Chart.yaml
  charts/ethos-ecm-consumer/Chart.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-362

#366 Update ecm-common version to latest
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-366

#363 Release R5.0.14
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/AccessTokenService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/MultipleUpdateService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/tasks/UpdateCaseBusReceiverTask.java
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-363
