Repository hmcts/ecm-consumer, pull requests merged in 2021-10, with the labels that each got.

#376 cve suppressed
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-376

#374 Enable ecm-consumer local dev environment
  config/owasp/suppressions.xml
  src/main/resources/application-dev.properties
  src/main/resources/sqlscripts/setup-ecmconsumer-db.sh
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-374

#371 R5.0.16
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleUpdateService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/tasks/CreateUpdatesBusReceiverTask.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/tasks/UpdateCaseBusReceiverTask.java
  src/main/resources/application-dev.properties
  src/main/resources/sqlscripts/setup-ecmconsumer-db.sh
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-371
