Repository hmcts/ecm-consumer, pull requests merged in 2022-07, with the labels that each got.

#566 Remove redundant classes
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/ReformEcmSingleCreationService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleReadingService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleTransferToReformEcmService.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleTransferToReformEcmServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-566

#575 helm chart update
  charts/ethos-ecm-consumer/Chart.yaml
  charts/ethos-ecm-consumer/values.preview.template.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-575

#574 dependencies and chart update
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-574
