Repository hmcts/ecm-consumer, pull requests merged in 2022-01, with the labels that each got.

#397 Ecm 304
  Jenkinsfile_CNP
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-397

#398 Ecm-543 Fix test package name
  build.gradle
  src/test/functional/java/uk/gov/hmcts/ethos/ecm/consumer/functional/SmokeTest.java
  src/test/functional/java/uk/gov/hmcts/reform/ethos/ecm/consumer/functional/HealthCheckTest.java
  src/test/functional/java/uk/gov/hmcts/reform/ethos/ecm/consumer/functional/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/helpers/Helper.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/idam/TokenResponseTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/AccessTokenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/MultipleUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleReadingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleTransferServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/UpdateManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/servicebus/MessageAutoCompletorTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/tasks/CreateUpdatesBusReceiverTaskTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/tasks/UpdateCaseBusReceiverTaskTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-398

#399 Update build.gradle
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-399

#396 R5.0.22
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleCreationService.java
  src/test/functional/java/uk/gov/hmcts/ethos/ecm/consumer/functional/SmokeTest.java
  src/test/functional/java/uk/gov/hmcts/reform/ethos/ecm/consumer/functional/HealthCheckTest.java
  src/test/functional/java/uk/gov/hmcts/reform/ethos/ecm/consumer/functional/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/helpers/Helper.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/idam/TokenResponseTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/AccessTokenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/MultipleUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleReadingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleTransferServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/UpdateManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/servicebus/MessageAutoCompletorTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/tasks/CreateUpdatesBusReceiverTaskTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/tasks/UpdateCaseBusReceiverTaskTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-396

#402 ECM-561 Increase timeout for HTTP requests
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/config/HttpClientConfiguration.java
  src/main/resources/application.properties
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-402
