Repository hmcts/ecm-consumer, pull requests merged in 2023-07, with the labels that each got.

#647 RET-3894 - Reduce to a single retry on UpdateCaseBusReceiverTask
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/config/ServiceBusCreateUpdatesReceiverConf.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/config/ServiceBusUpdateCaseReceiverConf.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/tasks/UpdateCaseBusReceiverTask.java
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-647

#648 Retries back to 3
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/tasks/UpdateCaseBusReceiverTask.java
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-648

#649 ECM-791
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-649

#650 R5.0.60
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-650
