Repository hmcts/ecm-consumer, pull requests merged in 2023-10, with the labels that each got.

#653 CVEs
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-653

#656 Terrform FMT and inf changes
  charts/ethos-ecm-consumer/Chart.yaml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ethosldata.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ethos, prd:ethos, destroy, rel:ethos-ecm-consumer-pr-656

#677 transferred case link is added on the source case
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleCreationService.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleCreationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-677
