Repository hmcts/ecm-consumer, pull requests merged in 2023-03, with the labels that each got.

#629 ECM-1139
  build.gradle
  charts/ethos-ecm-consumer/Chart.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/MultipleUpdateService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleTransferService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleUpdateService.java
  src/main/resources/application-dev.properties
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleTransferServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleUpdateServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-629

#630 R5.0.50
  build.gradle
  charts/ethos-ecm-consumer/Chart.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/MultipleUpdateService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleReadingService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleTransferService.java
  src/main/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleUpdateService.java
  src/main/resources/application-dev.properties
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleTransferServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ethos/ecm/consumer/service/SingleUpdateServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-ecm-consumer-pr-630

#631 Terraform
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ethos, prd:ethos, add-or-update, rel:ethos-ecm-consumer-pr-631
